$iPad-mediaMin:768px;
$iPad-media:767px; //iPad以下
$iPhone6plus-media:414px; //(視專案族群)
$iPhone6-media:375px; //(視專案族群)
$iPhone5-media:320px;

@mixin iPad-max-width() {
    @media all and (max-width: $iPad-media) {
        @content;
    }
}

@mixin iPad-min-width() {
    @media all and (min-width: $iPad-mediaMin) {
        @content;
    }
}

@mixin mobile() {
    @media all and (max-width: $iPad-media) and (min-width: $iPhone5-media) {
        @content;
    }
}