@import "../css/reset";
@import "../css/media.scss";
@import "../css/regular.scss";


body {
  font-family: "PT Serif", serif;
}

.wrap {
  display: flex;
  background: blue; 
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: darkgrey;
  padding: 8px 15px;
  
  .logo {
    display: inline-flex;
    margin-left: 20px;
    width: 100px;
    height: 68px;
    background-repeat: no-repeat;
    background-image: url("../images/logo.png");
    @include hide-text();
  }
 
  .nav_links {
    align-items: center;
    display: inline-flex;
    background: aquamarine;
    font-size: 15px;
    color: #504e4a;
    @include mobile() {
      
    }
    
    :visited {
      color: #504e4a;
    }

    .hvr-underline-reveal:before {
      background: #504e4a !important;
      height: 2px !important;
    }

    .item {
      display: flex;
      margin-left: 50px;
      margin-right: 50px;
      padding: 5px;
      text-decoration: none;
    }
  }
  
}
