@import "../css/reset";
@import "../css/media.scss";
@import "../css/regular.scss";

/* Icon 4 */
@include iPad-min-width() {
  #showmenu {
    display: none;
  }
}

@include mobile() {
  #showmenu {
    width: 60px;
    height: 45px;
    top: 10px;
    padding-left: 10px auto;
    padding-top: 10px auto;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #showmenu span {
    left: 10px;
    display: block;
    position: absolute;
    height: 3px;
    width: 40px;
    background: black;
    border-radius: 9px;
    opacity: 50;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #showmenu span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #showmenu span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #showmenu span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #showmenu.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -5px;
    left: 15px;
  }

  #showmenu.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  #showmenu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 24px;
    left: 15px;
  }
}

body {
  // font-family: "PT Serif", serif;
  font-family: "PT Sans", sans-serif;
}

.wrap {
  max-width: auto;
  max-height: auto;
  position: relative;
}

.colorr .dd {
  background: red;
}

/*jQ點擊後動態在 body 加上 class */
.menu-show .nav-links {
  max-height: 248px;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 8px 15px;

  .logo {
    display: block;
    margin-left: 20px;
    width: 100px;
    height: 68px;
    background-repeat: no-repeat;
    background-image: url("../images/logo.png");
    @include hide-text();
  }
}

.nav-links {
  display: inline-flex;
  background: white;
  font-size: 15px;
  color: #504e4a;

  @include mobile() {
    /*隱藏選單開始*/
    max-height: 0px;
    overflow: hidden;
    /*隱藏選單結束*/
    transition: max-height 0.5s;
    margin-top: 1px;
    /*絕對定位疊在網頁上*/
    z-index: 100;
    position: absolute;
    /*header 80px+1px boder 線條*/
    max-width: auto;
    top: 83px;
    left: 0;
    right: 0;
    display: block;

    .item {
      display: flex;
      align-items: center;
      text-decoration: none;
      max-width: auto;
      height: 60px;
      padding-left: 40px;
      border-bottom: black solid 1px;
    }
  }

  @include iPad-min-width() {
    .item {
      display: flex;
      margin-left: 50px;
      margin-right: 20px;
      padding: 20px;
      text-decoration: none;
    }
  }

  a {
    color: #504e4a;
  }

  :visited {
    color: #504e4a;
  }

  .hvr-underline-reveal:before {
    background: #504e4a !important;
    height: 2px !important;
  }
}

//swiper css
.swiper-container {
  .swiper-slide {
    max-height: 700px;
    position: relative;

    img {
      -webkit-filter: brightness(0.8);
      width: 100%;
      z-index: 3;
      opacity: 1;
    }

    h2 {
      font-family: Oswald;
      text-transform: uppercase;
      color: white;
      width: inherit;
      max-height: 200px;
      text-align: center;
      line-height: 350px;
      font-size: 100px;
      z-index: 1;
      position: absolute;
      white-space: nowrap;
      letter-spacing: 2px;
      opacity: 1;
    }

    span {
      font-family: Oswald;
      width: inherit;
      letter-spacing: 2px;
      font-size: 43px;
      position: absolute;
      text-align: center;
      line-height: 500px;
      color: #d4514b;
      font-weight: 900;
      z-index: 1;
      visibility: inherit;
      opacity: 1;
    }

    @include mobile() {
      h2 {
        font-family: Oswald;
        text-transform: uppercase;
        color: white;
        width: inherit;
        max-height: 200px;
        text-align: center;
        line-height: 250px;
        font-size: 50px;
        z-index: 1;
        position: absolute;
        white-space: nowrap;
        letter-spacing: 2px;
        opacity: 1;
      }

      span {
        font-family: Oswald;
        width: inherit;
        letter-spacing: 2px;
        font-size: 22.5px;
        position: absolute;
        text-align: center;
        line-height: 350px;
        color: #d4514b;
        font-weight: 900;
        z-index: 1;
        visibility: inherit;
        opacity: 1;
      }
    }
  }
}

.shop-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 100px 0px;

  @include mobile {
    padding: 40px 0px 50px 0px;
  }

  .shopinfo-left {
    display: inline-block;
    width: 450px;
    max-height: 430px;
    color: #7f7d7c;
    padding: 0px 5px 50px 10px;

    h3 {
      font-size: 1.625em;
      text-transform: none;
      letter-spacing: 0;
      margin: 0 0 17.5px;
      font-weight: 400;
      line-height: 1.2;
    }

    section {
      line-height: 2;
      font-size: 1em;
    }
  }

  .shopinfo-right {
    display: inline-block;

    img {
      padding-left: 20px;
      width: 90%;
      max-width: 100%;
    }
  }
}

hr.sepline {
  width: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@include iPad-min-width() {
  hr.sepline {
    display: none;
  }
}

.shop-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 0px 100px 0px;

  @include mobile {
    padding: 40px 0px 30px 0px;
  }

  .shop-product-right {
    display: inline-block;
    width: 536px;
    max-height: 430px;
    color: #7f7d7c;
    padding: 0px 0px 50px 10px;

    h3 {
      font-size: 2.2em;
      font-weight: bold;
      margin: 0 0 17.5px;
    }

    span {
      font-size: 1.25em;
      padding-right: 8px;
    }

    .price-regular {
      text-decoration: line-through;
    }

    .price-discount {
      font-size: 2.5em;
      color: #504e4a;
    }

    .product-form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      .product-quantity {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 30px 0 30px 0;

        p {
          padding-bottom: 10px;
        }

        input {
          border: 1px solid #7f7d7c;
          width: 90px;
          min-height: 41px;
          text-align: center;
          font-size: 30px;
        }
      }

      button {
        flex-grow: 2;
        height: 45px;
        margin-top: 27px;
        margin-right: 10px;
        margin-left: 5px;
        background-color: #998876;
        border-radius: 3px;
        cursor: pointer;

        p {
          color: white;
          font-size: 1.5em;
          text-decoration: none;
          align-content: center;
          padding: inherit;
        }
      }

      button:hover {
        background-color: #4f9d9d;
      }
    }

    section {
      line-height: 2;
      font-size: 1em;
    }

    .share-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      li {
        margin-top: 32px;
      }

      a {
        border: 1px solid #d0d0d0;
        color: #7f7d7c;
        padding: 10px 15px 10px 20px;
        border-radius: 3px;
        margin-right: 5px;
        text-decoration: none;
        letter-spacing: 2px;
      }

      a:hover {
        border: 1px solid #adadad;
      }

      a:visited {
        // color: #7f7d7c;
        text-decoration: none;
      }

      img {
        vertical-align: top;
      }

      span {
        margin-left: 5px;
        font-size: 15px;
      }
    }
  }

  .shop-product-left {
    display: inline-block;

    img {
      padding-left: 5%;
      margin-bottom: 20px;
      width: 90%;
      max-width: 100%;
    }
  }
}

.TESTIMONIALS {
  text-align: center;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
  color: #7f7d7c;
}

@include mobile() {
  .TESTIMONIALS {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

@include mobile() {
  .signers {
    display: none;
  }

  .swiper-container2 {
    height: 250px;

    .signerm {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 5px 0 5px;
      line-height: 1.3;

      i {
        display: flex;
        margin-bottom: 20px;
      }

      p {
        display: flex;
        color: #7f7d7c;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
      }

      cite {
        color: #7f7d7c;
        display: flex;
      }
    }
  }
}

@include iPad-min-width() {
  .swiper-container2 {
    display: none;
  }

  .signers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .signer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      width: 362px;
      height: 175px;
      margin-right: 5px;
      margin-bottom: 5px;
      line-height: 1.3;

      i {
        flex-grow: 1;
        display: flex;
      }

      p {
        flex-grow: 1;
        color: #7f7d7c;
      }

      cite {
        flex-grow: 1;
        color: #7f7d7c;
      }
    }
  }
}

@include iPad-min-width() {
  #contaniner-imagesbarm {
    display: none;
  }

  .contaniner-imagesbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, auto));
    overflow: hidden;
    margin-top: 40px;

    .a1 {
      width: 100%;
    }

    .a2 {
      width: 100%;
    }
  }
}

@include mobile() {
  .contaniner-imagesbar {
    display: none;
  }

  #contaniner-imagesbarm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;

    img {
      flex-grow: 1;
      max-width: 100%;
    }
  }
}

.featured-collection {
  text-align: center;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
  margin-top: 80px;
  color: #7f7d7c;
}

.featured-collection-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  li {
    padding: 15px;

    a {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      img {
        -webkit-filter: opacity(0.7);
      }

      span {
        text-decoration: underline;
      }
    }

    .featured-collection-item {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;

      img {
        width: 250px;
        height: 280px;
      }

      span {
        color: #504e4a;
        padding-top: 20px;
        text-decoration: none;
        width: auto;
      }

      div {
        padding-top: 7px;
        color: #7f7d7c;
        text-decoration: none;
      }
    }
  }
}

.site-footer {
  .top-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    color: #7f7d7c;
    max-width: 1200px;

    a {
      text-decoration: none;
      color: #7f7d7c;
    }

    a:visited {
      color: #7f7d7c;
    }

    .quick-links {
      display: flex;
      flex-direction: column;
      // width: 550px;

      h4 {
        font-size: 1em;
        letter-spacing: 0.1em;
      }

      li {
        line-height: 7;
        display: inline;
        padding-right: 55px;

        a {
          color: #7f7d7c;
        }
      }
    }

    .subscript {
      display: inline;
      flex-direction: column;
      width: 500px;

      h4 {
        font-size: 1em;
        letter-spacing: 0.1em;
        color: #7f7d7c;
      }

      input {
        font-size: 1em;
        margin-top: 45px;
        height: 46px;
        width: 70%;
        border: 1px solid #ccc;
      }

      ::placeholder {
        color: #969592;
        padding-left: 5px;
        opacity: 1;
      }

      button {
        height: 51px;
        cursor: pointer;
        padding-top: 5px;
        font-family: "PT Serif", serif;
        letter-spacing: 0.08em;
        font-size: 14px;
        background-color: #998876;
        color: white;
      }
    }
  }

  .bottom-footer {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    .social-icons {
      width: 400px;
      padding-right: 150px;

      li {
        display: inline;
        padding-right: 10px;
      }

      p {
        line-height: 3;
      }
    }

    .payment-icons {
      width: 400px;
      padding-right: 110px;

      li {
        display: inline;
        padding: 5px;
      }
    }
  }
}

@include mobile() {
  .site-footer {
    padding-left: 10px;
    padding-right: 10px;

    .top-footer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 80px;
      color: #7f7d7c;

      a {
        text-decoration: none;
      }

      a:visited {
        color: #7f7d7c;
      }

      .quick-links {
        display: flex;
        flex-direction: column;
        max-width: 100%;

        h4 {
          font-size: 1em;
          letter-spacing: 0.1em;
          line-height: 4;
        }

        li {
          display: block;
          line-height: 4;
          padding-right: 0px;
        }
      }

      .subscript {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        max-width: 100%;

        h4 {
          font-size: 1em;
          letter-spacing: 0.1em;
          color: #7f7d7c;
        }

        input {
          font-size: 1em;
          margin-top: 45px;
          margin-bottom: 1px;
          height: 46px;
          width: 98%;
          border: 1px solid #ccc;
        }

        ::placeholder {
          color: #969592;
          padding-left: 5px;
          opacity: 1;
        }

        button {
          height: 51px;
          width: 99%;
          cursor: pointer;
          padding: 5px;
          font-family: "PT Serif", serif;
          letter-spacing: 0.08em;
          font-size: 14px;
          background-color: #998876;
          color: white;
        }
      }
    }

    .bottom-footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .social-icons {
        width: 400px;

        li {
          display: inline;
          padding-right: 10px;
        }

        p {
          line-height: 3;
        }
      }

      .payment-icons {
        width: 400px;

        li {
          display: inline;
          padding: 5px;
        }
      }
    }
  }
}

// contact.html
.contact-title {
  font-size: 2.2em;
  font-weight: bold;
  color: #504e4a;
  text-align: center;
  padding: 40px;
}

.contact-form {
  max-width: 800px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-rows: 100px 100px 300px;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "A1 A2"
    "B1 B1"
    "C1 C1";

  * {
    padding: 5px;
  }

  label {
    color: #7f7d7c;
    line-height: 2;
    font-size: 1em;
    font-family: Oswald;
  }

  input {
    height: 30px;
    border: 0.5px solid #949494;
  }

  textarea {
    border: 0.5px solid #949494;
    max-width: 780px;
  }

  .form-name {
    display: flex;
    flex-direction: column;
    grid-area: A1;
  }

  .form-email {
    display: flex;
    flex-direction: column;
    grid-area: A2;
  }

  .form-number {
    display: flex;
    flex-direction: column;
    grid-area: B1;
  }

  .form-message {
    display: flex;
    flex-direction: column;
    grid-area: C1;
  }

  #input-message {
    margin: 10px 0px 0px 0px;
    width: 80px;
    height: 51px;
    cursor: pointer;
    padding-top: 5px;
    font-family: "PT Serif", serif;
    letter-spacing: 0.08em;
    font-size: 14px;
    background-color: #998876;
    color: white;
  }

  #input-message:hover {
    background-color: #7f7d7c;
  }
}

@include mobile() {
  .contact-form {
    max-width: 800px;
    max-height: 600px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-rows: 100px 100px 100px 300px;
    grid-template-columns: 100%;
    grid-template-areas:
      "A1"
      "B1"
      "C1"
      "D1";

    * {
      padding: 5px;
    }

    label {
      color: #7f7d7c;
      line-height: 2;
      font-size: 1em;
      font-family: Oswald;
    }

    input {
      height: 30px;
      border: 0.5px solid #949494;
    }

    textarea {
      border: 0.5px solid #949494;
      max-width: 780px;
    }

    .form-name {
      display: flex;
      flex-direction: column;
      grid-area: A1;
    }

    .form-email {
      display: flex;
      flex-direction: column;
      grid-area: B1;
    }

    .form-number {
      display: flex;
      flex-direction: column;
      grid-area: C1;
    }

    .form-message {
      display: flex;
      flex-direction: column;
      grid-area: D1;
    }

    #input-message {
      margin: 10px 0px 0px 0px;
      width: 80px;
      height: 51px;
      cursor: pointer;
      padding-top: 5px;
      font-family: "PT Serif", serif;
      letter-spacing: 0.08em;
      font-size: 14px;
      background-color: #998876;
      color: white;
    }

    #input-message:hover {
      background-color: #7f7d7c;
    }
  }
}

.shop-top {
  img {
    width: 100%;
    height: 200px;
  }

  @include mobile() {
    img {
      height: 100%;
    }
  }
}

.hr-top {
  &.up {
    margin-top: 30px;
  }

  &.down {
    margin-bottom: 30px;
  }
}

.breadcrumb-container {
  .breadcrumb {
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 10px 10px 10px;
    text-align: start;

    li {
      color: #504e4a;
      display: inline;
    }

    li + li::before {
      padding: 20px;
      color: black;
      content: "/\00a0";
    }

    a {
      text-decoration: none;
    }

    a:visited {
      color: #7f7d7c;
    }

    a:hover {
      color: #666666;
    }
  }
}

.shop-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.2em;
  padding-left: 10px;

  .sidebar {
    width: inherit;
    line-height: 80px;

    ul {
      width: 200px;
      padding-left: 10px;

      li {
        border-bottom: 1px solid #aaaaaa;

        a {
          text-decoration: none;
          padding: 20px 50px 20px 10px;
        }

        a:visited {
          color: #7f7d7c;
        }

        a:hover {
          color: #666666;
        }
      }
    }
  }

  .productions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .productions-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-top: 30px;

      .productions-item {
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 50px;
        line-height: 30px;
      }

      a {
        text-decoration: none;
        color: #7f7d7c;
      }

      a:visited {
        text-decoration: none;
        color: #7f7d7c;
      }

      a:hover {
        color: #666666;

        img {
          -webkit-filter: opacity(0.7);
        }

        span {
          text-decoration: underline;
        }
      }
    }
  }
}

@include mobile() {
  .shop-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding-left: 0px;

    .sidebar {
      width: inherit;
      line-height: 80px;

      ul {
        width: auto;
        padding-left: 0px;

        li {
          border-bottom: 1px solid #aaaaaa;

          a {
            text-decoration: none;
            padding: 10px;
          }

          a:visited {
            color: #7f7d7c;
          }

          a:hover {
            color: #666666;
          }
        }
      }
    }

    .productions {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .productions-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 30px;

        .productions-item {
          display: flex;
          flex-direction: column;

          flex-wrap: wrap;
          padding-right: 10px;
          padding-left: 10px;
          padding-bottom: 50px;
          line-height: 30px;
        }

        a {
          text-decoration: none;
          color: #7f7d7c;
        }

        a:visited {
          text-decoration: none;
          color: #7f7d7c;
        }

        a:hover {
          color: #666666;

          img {
            -webkit-filter: opacity(0.7);
          }

          span {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

//cart.html
.cart-title {
  font-size: 2.1875em;
  text-align: center;
  letter-spacing: 0;
  color: #504e4a;
  padding: 30px 30px 60px 30px;
}
.page-wrap {
  max-width: 1100px;
  padding: 0px 10px;
  margin: 0 auto;
  color: #504e4a;
  .cart-table {
    width: 100%;
    text-align: center;
    
    #product-th {
      text-align: left;
    }

    #total-th {
      text-align: right;
    }

    th {
      border-bottom: 1px solid #e8e9eb;
      padding: 10px 0px 30px 0px;
    }

    td {
      border-bottom: 1px solid#e8e9eb;
      vertical-align: middle;
      padding: 30px 0px 30px 0px;
    }

    #productimg {
      width: 95px;
      height: 95px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    #productimg-td {
      width: 120px;
    }

    .production-name {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
      height: 60px;

      .production-name-a {
        font-size: 1.1em;
        color: #504e4a;
        text-decoration: none;
      }

      .production-name-a:visited {
        color: #504e4a;
      }

      .production-name-a:hover {
        opacity: 0.8;
      }
    }

    @include mobile() {
      .production-name {
        display: none;
      }
    }

    #total-td {
      text-align: right;

      @include iPad-min-width() {
        .remove-a-total {
          display: none;
        }
      }

      @include mobile() {
        .remove-a-total {
          padding: 5px;
          border: 1px solid #998876;
          color: #998876;
          border-radius: 2px;
          cursor: pointer;
          letter-spacing: 1.5px;
          font-size: 0.1em;
        }

        .remove-a-total:visited {
          color: #998876;
        }

        .remove-a-total:hover {
          opacity: 0.8;
        }
      }
    }
    @include mobile() {
      #total-td {
        line-height: 50px;
      }
    }
    input {
      width: 80px;
      height: 50px;
      font-size: 1em;
      text-align: center;
    }

    @include mobile() {
      input {
        width: 40px;
      }
    }

    .remove-a {
      width: 60px;
      padding: 5px;
      border: 1px solid #998876;
      color: #998876;
      border-radius: 2px;
      cursor: pointer;
      letter-spacing: 1.5px;
      font-size: 0.5em;
    }

    .remove-a:visited {
      color: #998876;
    }

    .remove-a:hover {
      opacity: 0.8;
    }
  }

  .cart-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    line-height: 30px;

    .subtotal {
      font-size: 1.2em;
      padding-top: 40px;

      .subtotal-span {
        padding-right: 110px;
      }
      .total {
      }
    }
    .information {
      color: #7f7d7c;
      font-size: 0.9em;
      padding-bottom: 30px;
      .info {
      }
    }
    .button {
      font-size: 1em;
      letter-spacing: 2px;

      a {
        border: 1px solid #998876;
        padding: 12px 18px;
      }
      @include mobile() {
        a {
          padding: 6px 9px;
        }
      }
      a,
      a:visited {
        text-decoration: none;
      }
      a:hover {
        opacity: 0.8;
      }
      .continue {
        color: #998876;
        
      }
      .checkout {
        color: white;
        background-color: #998876;
      }
    }
    @include mobile() {
      .button {
        display: block;
      }
    }
  }
}
