@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------CSSreset------------------*/
body {
  font-family: "PT Serif", serif;
}

.wrap {
  background: blue;
  max-width: auto;
  max-height: auto;
  position: relative;
}

.colorr .dd {
  background: red;
}

/*jQ點擊後動態在 body 加上 class */
.menu-show .nav_links {
  max-height: 240px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: darkgrey;
  padding: 8px 15px;
}

nav .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 20px;
  width: 100px;
  height: 68px;
  background-repeat: no-repeat;
  background-image: url("../images/logo.png");
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

nav .showmenu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 48px;
  height: 48px;
  background-image: url("../images/hamburger.png");
  background-repeat: no-repeat;
}

@media all and (min-width: 768px) {
  nav .showmenu {
    display: none;
  }
}

nav .nav_links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: aquamarine;
  font-size: 15px;
  color: #504e4a;
}

@media all and (max-width: 767px) and (min-width: 320px) {
  nav .nav_links {
    /*隱藏選單開始*/
    max-height: 0px;
    overflow: hidden;
    /*隱藏選單結束*/
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    margin-top: 1px;
    /*絕對定位疊在網頁上*/
    position: absolute;
    /*header 80px+1px boder 線條*/
    max-width: auto;
    top: 83px;
    left: 0;
    right: 0;
    background: darkcyan;
    display: block;
  }
  nav .nav_links .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    max-width: auto;
    height: 60px;
    padding-left: 40px;
  }
}

@media all and (min-width: 768px) {
  nav .nav_links .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
    margin-right: 20px;
    padding: 20px;
    text-decoration: none;
  }
}

nav .nav_links :visited {
  color: #504e4a;
}

nav .nav_links .hvr-underline-reveal:before {
  background: #504e4a !important;
  height: 2px !important;
}
/*# sourceMappingURL=style.css.map */